include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section.parallax
          .parallax__layer(data-speed="0.1")
            +image("Parallax/1.png", "parallax__image", "Parallax1")
          section.section.section-hero(data-speed="0.14")
            .container
                header.header
                  .header__logo
                      .logo
                          a.logo__link(href="/") &lt;AA&nbsp;/&gt;
                  .header__nav
                    nav.nav
                      - var items = ["Главная","Обо мне", "Навыки", "Работы","Отзывы","Связаться"];
                      ul.nav__list
                        each item, index in items
                          li.nav__item
                            a.nav__link(href="/", data-scroll=`${[index]}`) #{item}
                  .header__socials  
                      .socials
                        - var items = ["insta", "vk", "github"];
                        ul.socials__list
                          each item in items
                            li.socials__item
                              a.socials__link(href="/")
                                +icon(item, "socials__icon")
                  .mobile-menu
                    .mobile-menu__wrap
                      .mobile-menu__nav
                        nav.nav
                          - var items = ["Главная","Обо мне", "Навыки", "Работы","Отзывы","Связаться"];
                          ul.nav__list
                            each item, index in items
                              li.nav__item
                                a.nav__link(href="/", data-scroll=`${[index]}`) #{item}
                      .mobile-menu__socials
                        .socials
                          - var items = ["insta", "vk", "github"];
                          ul.socials__list
                            each item in items
                              li.socials__item
                                a.socials__link(href="/")
                                  +icon(item, "socials__icon")
                  a.hamburger-menu-link
                    .hamburger-menu-link__bars
          .parallax__layer(data-speed="0.18")
            +image("Parallax/2.png", "parallax__image", "Parallax2")
          .section-hero__content(data-speed="0.22")
            .user-data
              .user-data__desc Личный сайт<br>веб-разработчика
              h1.title.user-data__title Арченков<br>Артём
          .parallax__layer(data-speed="0.26")
            +image("Parallax/3.png", "parallax__image", "Parallax3")
          .parallax__layer(data-speed="0.30")
            +image("Parallax/4.png", "parallax__image", "Parallax4")
          .section-hero__scroll-btn(data-speed="0.34")
            button.scroll-btn.scroll-btn--down(type="button", data-scroll-to="1") Скролл
          .parallax__layer(data-speed="0.38")
            +image("Parallax/5.png", "parallax__image", "Parallax5")
          .parallax__layer(data-speed="0.42")
            +image("Parallax/6.png", "parallax__image", "Parallax6")
          section.section.section-about(data-speed="0.46")
              .container.container--small
                  .about
                      .about__user-data
                        .user-info
                          .user-info__avatar
                            .avatar
                              +image("content/user.jpg", "avatar__image", "Artem Archenkov")
                          .user-info__content
                            -
                              var userdata = [
                                ["Проживаю:", "Астрахань"],
                                ["Возраст:", "32"],
                                ["Родился:", "14.08.1988г."]
                              ];
                            table.user-info__data
                              tbody.user-info__data-body
                                each row in userdata
                                  tr
                                    td.user-info__data-item #{row[0]}
                                    td.user-info__data-desc #{row[1]}
                      .about__content
                          blockquote.about__quote
                            .about__introduction Привет меня зовут 
                            h2.about__title Арченков Артём
                            .about__desc
                              p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                          .about__text 
                            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .empty-section
          .space-empty 
        section.section.section-skill
          +image("bg/hands.png", "section-skill-image", "section-three image")
          .container.container--small
            .value
              .value__title
                .value__title-content
                  .longtitle
                    h2.longtitle__title Чем я могу быть полезен вам
                    .longtitle__text
                      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .value__content
                #skills-component

        section.section.section-jobs
          .container.container--mobile-full
            #slider-component

        section.section.section-feedback
          .container
            .reviews-section
              #feedback-component
                            
              .feedback
                form(action="" ).feedback__form
                  .feedback__title Связаться со мной
                  .feedback__content
                    .feedback__row
                      .feedback__col
                          label.feedback__label
                            .error Какая то ошибка
                            input.feedback__input.feedback__input-name(type="text", name="name" placeholder="Иванов Иван" required)
                            .feedback__placeholder Введите ваше имя
                      .feedback__col
                          label.feedback__label
                            input.feedback__input.feedback__input-email(type="text", name="email" placeholder="mail@gmail.com" required)
                            .feedback__placeholder Введите ваш e-mail
                    .feedback__row
                      .feedback__col
                        label.feedback__label
                          textarea.feedback__textarea.feedback__textarea-textarea(name="comment", cols="30", rows="2" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
                          .feedback__placeholder.feedback__placeholder-textarea Сообщение к письму
                    .feedback__row
                      button.btn.feedback__btn Отправить
        section.section.section-footer
          .container
            .footer
              .footer__left
                .footer__copyright
                  .copyright &copy;&nbsp;2020
                .footer__author
                  .author 
                    .author__name Арченков Артём
                    .author__property Личный сайт веб-разработчика
              .footer__right
                .footer__content
                  .footer__row
                      .nav.footer__nav
                          - var items = ["Главная","Обо мне", "Навыки", "Работы","Отзывы","Связаться"];
                          ul.nav__list
                            each item, index in items
                              li.nav__item
                                a.nav__link(href="/", data-scroll=`${[index]}`) #{item}
                  .footer__about-socials-quote
                    .footer__about-socials
                        .footer__about 
                          p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                        .footer__socials.socials.socials--footer
                          - var items = ["insta", "vk", "github"];
                          ul.socials__list
                            each item in items
                              li.socials__item
                                a.socials__link(href="/")
                                  +icon(item, "socials__icon")
                    .footer__quote
                      .footer-quote
                        blockquote.footer-quote__content Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                        h3.footer-quote__title Martin Golding

    include ./templates/entry.pug