include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent#main
        .section-welcome
          section.section.section-hero
            .container
                header.header
                  .header__logo
                      .logo
                          a.logo__link(href="/") &lt;AA&nbsp;/&gt;
                  .header__nav
                    #nav-component

                  .header__socials  
                      .socials
                        - var items = ["insta", "vk", "github"];
                        ul.socials__list
                          each item in items
                            li.socials__item
                              a.socials__link(href="/")
                                +icon(item, "socials__icon")
                  .mobile-menu
                    .mobile-menu__wrap
                      .mobile-menu__nav
                        nav.nav
                          - 
                            var items = [
                              ["Главная", "#main"],
                              ["Обо мне", "#about"],
                              ["Навыки", "#skills"],
                              ["Работы", "#works"],
                              ["Отзывы", "#reviews"],
                              ["Связаться", "#feedback"],
                            ];
                          ul.nav__list
                            each item, index in items
                              li.nav__item
                                a.nav__link(href=`${item[1]}`,  v-scroll-to=`"${item[1]}"`, @click="onStart") #{item[0]}
                      .mobile-menu__socials
                        .socials
                          - var items = ["insta", "vk", "github"];
                          ul.socials__list
                            each item in items
                              li.socials__item
                                a.socials__link(href="/")
                                  +icon(item, "socials__icon")
                  a.hamburger-menu-link
                    .hamburger-menu-link__bars
                .section-hero__content
                  .user-data
                    .user-data__desc Личный сайт<br>веб-разработчика
                    h1.title.user-data__title Арченков<br>Артём
                .section-hero__scroll-btn
                  a.scroll-btn.scroll-btn--down(type="button", href="#skills") Скролл
          section.section.section-about
              .container.container--small
                  .about#about
                      .about__user-data
                        .user-info
                          .user-info__avatar
                            .avatar
                              +image("content/user.jpg", "avatar__image", "Artem Archenkov")
                          .user-info__content
                            -
                              var userdata = [
                                ["Проживаю:", "Астрахань"],
                                ["Возраст:", "32"],
                                ["Родился:", "14.08.1988г."]
                              ];
                            table.user-info__data
                              tbody.user-info__data-body
                                each row in userdata
                                  tr
                                    td.user-info__data-item #{row[0]}
                                    td.user-info__data-desc #{row[1]}
                      .about__content
                          blockquote.about__quote
                            .about__introduction Привет меня зовут 
                            h2.about__title Арченков Артём
                            .about__desc
                              p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                          .about__text 
                            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        section.section.section-skill
          +image("bg/hands.png", "section-skill-image", "section-three image")
          .container.container--small
            .value#skills
              .value__title
                .value__title-content
                  .longtitle
                    h2.longtitle__title Чем я могу быть полезен вам
                    .longtitle__text
                      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .value__content
                #skills-component

        section.section.section-jobs
          .container.container--mobile-full#works
            #slider-component

        section.section.section-feedback
          .container
            .reviews-section#reviews
              #feedback-component
              #feedback
              #form-feedback-component

        section.section.section-footer
          .container
            .footer
              .footer__left
                .footer__copyright
                  .copyright &copy;&nbsp;2020
                .footer__author
                  .author 
                    .author__name Арченков Артём
                    .author__property Личный сайт веб-разработчика
              .footer__right
                .footer__content
                  .footer__row
                    .nav.footer__nav
                        - var items = ["Главная","Обо мне", "Навыки", "Работы","Отзывы","Связаться"];
                        ul.nav__list
                          each item, index in items
                            li.nav__item
                              a.nav__link(href="/", data-scroll=`${[index]}`) #{item}
                  .footer__about-socials-quote
                    .footer__about-socials
                        .footer__about 
                          p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                        .footer__socials.socials.socials--footer
                          - var items = ["insta", "vk", "github"];
                          ul.socials__list
                            each item in items
                              li.socials__item
                                a.socials__link(href="/")
                                  +icon(item, "socials__icon")
                    .footer__quote
                      .footer-quote
                        blockquote.footer-quote__content Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                        h3.footer-quote__title Martin Golding



    include ./templates/entry.pug

    <script src="https://unpkg.com/vue@2.2.4"></script>
    <script src="https://unpkg.com/vue-scrollto"></script>