include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          section.section.section-one
            .container
                header.header
                  .header__logo
                      .logo
                          a.logo__link(href="/") &lt;AA /&gt;
                  .header__nav
                    nav.nav
                      - var items = ["Главная","Обо мне", "Навыки", "Работы","Отзывы","Связаться"];
                      ul.nav__list
                        each item, index in items
                          li.nav__item
                            a.nav__link(href="/", data-scroll='#{index}') #{item}
                  .header__socials  
                      .socials
                        - var items = ["insta", "vk", "github"];
                        ul.socials__list
                          each item in items
                            li.socials__item
                              a.socials__link(href="/")
                                +icon(item, "socials__icon")
                .section-one__content
                    .user-data
                      .user-data__desc Личный сайт<br>веб-разработчика
                      h1.title.user-data__title Арченков<br>Артём
                .section-one__btn-scroll
                  button.scroll-btn.scroll-btn--down(type="button", data-scroll-to="1") Скролл
          section.section.section-two
              .container.container--small
                  .about
                      .about__user-data
                        .user-info
                          .user-info__avatar
                            .avatar
                              +image("content/user.jpg", "avatar__image", "Artem Archenkov")
                          .user-info__content
                            -
                              var userdata = [
                                ["Проживаю:", "Астрахань"],
                                ["Возраст:", "32"],
                                ["Родился:", "14.08.1988г."]
                              ];
                            table.user-info__data
                              tbody.user-info__data-body
                                each row in userdata
                                  tr
                                    td.user-info__data-item #{row[0]}
                                    td.user-info__data-desc #{row[1]}
                      .about__content
                          blockquote.about__quote
                            span.about__introduction Привет меня зовут 
                            h2.about__title Арченков Артём
                            .about__desc
                              p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                            .about__text 
                              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .empty-section
          //- Как правильно?
          .space-empty 
        section.section.section-three
          .container.container--small
            .value
              .value__title
                .value__title-content
                  .longtitle
                    h2.longtitle__title Чем я могу быть полезен вам
                    .longtitle__text
                      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .value__content
                ul.user-skills
                  - 
                    var skills = [
                      ['Front-end', ['HTML5', 'CSS3', 'JavaScript', 'JQuery'],['100','250', '320','420']],
                      ['Workflow', ['GIT', 'TERMINAL', 'GULP', 'WebPack'],['100','250', '320','420']],
                    ]
                  each item in skills 
                    li.user-skills__item.skills-row 
                      h3.skills-row__title #{item[0]}
                      ul.skills-row__list
                        each skill in item[1]
                          li.skills-row__item
                            .skill
                              svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                                circle(r="80" cx="100" cy="100").skill__circle--under
                                circle(r="80" cx="100" cy="100" stroke-dasharray="0, #{item[2]}").skill__circle--above
                                linear-gradient()
                              .skill__title #{skill}
        section.section.section-four
          .container 
            .my-work
              .slider
                .my-work__title Мои Работы
                .slider__body
                  .slider__count 2
                  .slider__preview
                    +image("slider/preview.png", "slider__preview-img", "slider preview")
                    .slider__thumbnail
                      - var items = ["slider/mini-1.jpg","slider/mini-2.jpg", "slider/mini-3.jpg", "slider/mini-4.jpg"];
                      ul.slider__list 
                        each item in items
                          li.slider__item
                            a.slider__link(href="/")
                              +image(item, "slider__thumbnail-img", "slider thumbnail")
                  .slider__controls
                    a.slider__btn.slider__btn--next 
                      .slider__btn-text &lt;
                    a.slider__btn.slider__btn--prev 
                      .slider__btn-text &gt;
              .school
                .tags
                  - var items = ["HTML", "CSS", "JavaScript"]
                  ul.tags__list
                    each item in items
                      li.tags__item #{item}
                .school__title Сайт школы образования
                .school__text
                  p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a.school__link(href="lostschool.com") Посмотреть сайт
        section.section.section-five
          .container
            .review-section
              .reviews
                  .reviews__header
                    h2.reviews__title Что обо мне говорят
                    .reviews__controls
                      a.reviews__btn.reviews__btn--next
                        .reviews__btn-text &lt;
                      a.reviews__btn.reviews__btn--prev
                        .reviews__btn-text &gt;
                  ul.reviews__list
                    -
                      var reviews = [
                        ["avatar1", "Ковальчук Дмитрий","Основатель LoftSchool","Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!"],
                        ["avatar2", "Сабанцев Владимир","Преподаватель","Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах"],
                      ];
                    each review in reviews
                      li.reviews__item
                        .review
                          blockquote.review__content #{review[3]}
                          .review__sign
                            .review__avatar
                              .avatar
                                +image("content/user.jpg", "avatar__image", "Artem Archenkov")
                            .review__sign-block
                              .review__title #{review[1]}
                              .review__occupation #{review[2]}
                            
              .feedback
                form(action="" ).feedback__form
                  .feedback__title Связаться со мной
                  .feedback__content
                    .feedback__row
                      .feedback__col
                          label.feedback__label.feedback__label-name
                            .feedback__placeholder Введите ваше имя
                            input.feedback__input(type="text", name="name" required)
                            .error
                      .feedback__col
                          label.feedback__label.feedback__label-email
                            .feedback__placeholder Введите ваше e-mail
                            input.feedback__input(type="text", name="email" required)
                            .error
                    .feedback__row
                      .feedback__col
                        label.feedback__label.feedback__label-textarea
                          .feedback__placeholder Сообщение к письму
                          textarea.feedback__textarea(name="comment", cols="30", rows="2")
                    .feedback__row
                      button.btn.feedback__btn Отправить
        section.section.section-seven
          .container
            .footer
              .footer__copyright
                .copyright &copy; 2020
              .footer__author
                .author 
                  .author__name Арченков Артём
                  .author__property Личный сайт веб-разработчика
              .footer__content
                .footer__row
                    .nav.footer__nav
                      ul.nav__list
                        - var items = ["Главная","Обо мне", "Навыки", "Работы","Отзывы","Связаться"];
                        ul.nav__list
                          each item, index in items
                            li.nav__item
                              a.nav__link(href="/", data-scroll='#{index}') #{item}
                .footer__row
                  .footer__about-socials
                      .footer__about 
                        p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                      .footer__socials.socials
                        - var items = ["insta", "vk", "github"];
                        ul.socials__list
                          each item in items
                            li.socials__item
                              a.socials__link(href="/")
                                +icon(item, "socials__icon")
                  .footer__quote
                    .footer-quote
                      blockquote.footer-quote__content Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                      h3.footer-quote__title Martin Golding